<table
  class="responsive-table"
  style="border: 1px solid black;
margin: 10px"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tr>
    <td><input type="text" id="nameInput" placeholder="Search" /></td>
    <td><input type="text" id="cNameInput" placeholder="Search" /></td>
    <td><input type="text" id="descInput" placeholder="Search" /></td>
  </tr>
  <tr *ngFor="let data of Details; let i = index">
    <td>
      {{ data.name }}
      {{ data.email }}
    </td>
    <td>{{ data.company.name }}</td>
    <td>{{ data.company.designation }}</td>
  </tr>
</table>
